@use "base";
@mixin reset-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
@mixin reset-links {
    color: base.$light;
    text-decoration: none;
}

//mixins gallery
@mixin el-galeria($col, $fil, $pos) {
    &:nth-child(11n+#{$pos}){
        grid-column: span $col;
        grid-row: span $fil;
    }
}
@mixin dis-galeria{
    @include el-galeria(3, 1, 6);
    @include el-galeria(1, 2, 7);
    @include el-galeria(2, 2, 8);
}
@mixin dis-galeria-movil{
    @include el-galeria(1, 1, 6);
    @include el-galeria(1, 1, 7);
    @include el-galeria(1, 1, 8);
}