@use "../base";
.prods{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: base.$gap-size;
    margin: 1.3rem 0;
    .card{
        background-color: base.$light;
        text-align: center;
        padding: 2rem;
    }
}