@use"../base";
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 10px;
    background-color: base.$dark;
    border-radius: 25px;
    
    
    box-shadow: 0 2px 5px rgba(255,255,255,0.2);
    div{
        display: flex;
        align-items: center;
        width: 100%;
        // height: 100%;
        justify-content: space-between;
        a{
            @include base.reset-links;
        }
    }
}
header ul{
    display: flex;
    justify-content: space-between;
    @include base.reset-list;
    li a{
        display: block;
        background-color: base.$dark;
        padding: 2rem;
        &:hover{
            background-color: base.$dark;
            color: base.$dark;
            transition: 0.2s;
        }
    }
}
